/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#tableContainer {
  margin-top: 50px;
}
.playlist, .localtrack, .match {
  border-bottom: 1px solid  #000;
}
.playlist, .localtrack {
  border-right:   1px dashed #000;
}

/* Animation during processing */
.working {
  background-color: #fff;
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: rgb(77, 173, 255);
  }
  100% {
    background-color: #fff;
  }
}